In [3]:
import pandas as pd
import numpy as np  
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

from sklearn import tree

In [16]:
# Look at the train data

train = pd.read_csv("./dogs_n_cats.csv")  
print(train.shape)
train.head()

(1000, 6)

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [17]:
# checking if dataset has some null values
train.isnull().sum()

Длина                 0
Высота                0
Шерстист              0
Гавкает               0
Лазает по деревьям    0
Вид                   0
dtype: int64

In [38]:
# Look at the test data

import json

with open('dataset_209691_15.json', 'r') as json_file:  
    data = json.load(json_file)
    
test = pd.DataFrame.from_dict(data)
test.head()

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      25    30.0         1        1                   0
1      34    40.8         1        1                   0
10     23    27.6         1        1                   0
11     23    27.6         1        1                   0
12     20    24.0         1        0                   0

In [26]:
# We would like to predict if the item from test_data is "dog" based on train_data
# 1) Create a model/classificator

X = train.drop('Вид', axis=1)
y = train['Вид']

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.20,
                                                    random_state=42)

X_train.shape

(800, 5)

In [25]:
clf = tree.DecisionTreeClassifier()
clf.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [27]:
clf.score(X_train,y_train)

1.0

In [29]:
clf.score(X_test, y_test)

1.0

In [31]:
# Estimating the model

y_pred = clf.predict(X_test)

In [33]:
from sklearn.metrics import classification_report, confusion_matrix 

print(confusion_matrix(y_test, y_pred))

[[104   0]
 [  0  96]]

In [34]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

       котик       1.00      1.00      1.00       104
     собачка       1.00      1.00      1.00        96

   micro avg       1.00      1.00      1.00       200
   macro avg       1.00      1.00      1.00       200
weighted avg       1.00      1.00      1.00       200

In [36]:
(y_pred == y_test).sum()

200

In [39]:
# Now lets predict our test_data based on model

X_test_data = test
y_pred_test = clf.predict(X_test_data)

In [40]:
X_test_data['Вид'] = y_pred_test

In [41]:
X_test_data

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0      25    30.0         1        1                   0  собачка
1      34    40.8         1        1                   0  собачка
10     23    27.6         1        1                   0  собачка
11     23    27.6         1        1                   0  собачка
12     20    24.0         1        0                   0  собачка
13     19    22.8         1        1                   0  собачка
14     23    27.6         1        1                   0  собачка
15     20    24.0         1        1                   0  собачка
16     29    34.8         1        1                   0  собачка
17     21    25.2         1        0                   0  собачка
18     34    40.8         1        1                   0  собачка
19     28    33.6         1        1                   0  собачка
2      33    39.6         1        1                   0  собачка
20     23    27.6         1        1                   0  собачка
21     24    28.8         1        0                   0  собачка
22     33    39.6         1        1                   0  собачка
23     22    26.4         1        1                   0  собачка
24     22    26.4         1        1                   0  собачка
25     24    28.8         1        1                   0  собачка
26     21    25.2         1        1                   0  собачка
27     29    34.8         1        1                   0  собачка
28     16    19.2         1        1                   0  собачка
29     25    30.0         1        1                   0  собачка
3      34    40.8         1        1                   0  собачка
30     20    24.0         1        1                   0  собачка
31     25    30.0         1        1                   0  собачка
32     33    39.6         1        1                   0  собачка
33     15    18.0         1        1                   0  собачка
34     17    20.4         1        1                   0  собачка
35     27    32.4         0        1                   0  собачка
..    ...     ...       ...      ...                 ...      ...
72     10     4.0         1        0                   1    котик
73     13     5.2         1        0                   1    котик
74      6     2.4         1        0                   1    котик
75     14     5.6         1        0                   0    котик
76      9     3.6         1        0                   1    котик
77      7     2.8         1        0                   1    котик
78      6     2.4         1        0                   1    котик
79      6     2.4         1        0                   0    котик
8      29    34.8         1        1                   0  собачка
80     10     4.0         1        0                   0    котик
81      5     2.0         1        0                   1    котик
82      9     3.6         1        0                   1    котик
83      9     3.6         1        0                   0    котик
84      9     3.6         1        0                   1    котик
85      5     2.0         1        0                   1    котик
86      6     2.4         1        0                   1    котик
87      5     2.0         1        0                   1    котик
88     12     4.8         1        0                   1    котик
89      5     2.0         0        1                   1    котик
9      16    19.2         1        1                   0  собачка
90      7     2.8         1        0                   1    котик
91     11     4.4         1        0                   1    котик
92     13     5.2         1        0                   1    котик
93     14     5.6         1        0                   1    котик
94     10     4.0         1        1                   1    котик
95      5     2.0         1        0                   1    котик
96     11     4.4         1        0                   1    котик
97      7     2.8         1        0                   1    котик
98      7     2.8         1        0                   1    котик
99     14     5.6         1        0                   1    котик

[100 rows x 6 columns]

In [44]:
(X_test_data['Вид'] == 'собачка').sum()

46

In [45]:
# Answer is 46 dogs is in json dataset.